<ion-view title="Configuration fichier du Batch {{nameBatch}}" align-title="center">

  <ion-content>
    <div class="card list">

      <div class="item item-text-wrap ">
        <label class="item-floating-label"> <i class="icon ion-android-document larger"></i><strong> Configuration du fichier !</strong></label>
        <div class="row">
          <div class="col positiv" style="text-align: center;">Date de Création </div>
        </div>

        <div class="row">
          <div class="col" style="text-align: center;"><strong> {{informationBatch.reader.dateCreation | date:'yyyy/MM/dd HH:mm'}}</strong></div>
        </div>

        <div class="row">
          <div class="col positiv" style="text-align: center;">Créer par </div>
        </div>

        <div class="row">
          <div class="col " style="text-align: center;"><strong> {{informationBatch.reader.executed_by}}</strong></div>
        </div>

        <div class="row">
          <div class="col positiv" style="text-align: center;">Chemin du fichier </div>
        </div>

        <div class="row">
          <div class="col "><strong> {{informationBatch.reader.filePath}}</strong></div>
        </div>

        <div class="row">
          <div class="col positiv" style="text-align: center;">Type du fichier </div>

        </div>

        <div class="row">
          <div class="col " style="text-align: center;"><strong> {{informationBatch.batchStepExecution.step_name}}</strong></div>
        </div>

        <div class="row">
          <div class="col positiv" style="text-align: center;">Nombre de ligne Sauté </div>
        </div>

        <div class="row">
          <div class="col" style="text-align: center;"><strong> {{informationBatch.reader.nbLineToSkip}}</strong></div>
        </div>

      </div>
    </div>
  </ion-content>

</ion-view>



