<ion-view title="Société">
  <ion-content padding="true" class="has-header">
    <form>
      <ion-list>
        <div class="row">
          <div class="cole" style="text-align: center;"><img src="{{company.logo}}" class="img" width="250px" height="100" ></div>
        </div>

        <div class="row">
          <div class="cole" style="text-align: center;"><strong>  Entreprise</strong> </div>
        </div>


        <div class="row">
          <div class="cole" style="text-align: center;"> {{company.name}} </div>
        </div>


        <div class="row">
          <div class="cole" style="text-align: center;"><strong> Site</strong> </div>
        </div>


        <div class="row">
          <div class="cole" style="text-align: center;"> {{company.site}} </div>
        </div>


        <div class="row">
          <div class="cole" style="text-align: center;"><strong> Tel </strong></div>
        </div>

        <div class="row">
          <div class="cole" style="text-align: center;">  {{company.tel}} </div>
        </div>

        <div class="row">
          <div class="cole" style="text-align: center;"><strong> Adresse</strong></div>
        </div>

        <div class="row">
          <div class="cole" style="text-align: center;"> {{company.adresse}} </div>
        </div>

        <div class="row">
          <div class="cole" style="text-align: center;"><strong> Email</strong> </div>
        </div>

        <div class="row">
          <div class="cole" style="text-align: center;"> {{company.mail}} </div>
        </div>




      </ion-list>
    </form>
  </ion-content>
</ion-view>
