<ion-view title="Info du Batch {{nameBatch}}">

  <ion-content>

    <div class="list">


      <div class="item item-button-right item-icon-left" ng-click="chargerResultatsBatch()">
        <i class="icon ion-icon ion-ribbon-a larger"> </i>
        Résultat du batch
        <button class="button button-positive">
          <i class="ion-eye"> </i>
        </button>
      </div>

      <div class="item item-button-right item-icon-left" ng-click="chargerConfigFichierBatch()">
        <i class="icon ion-icon ion-document-text larger"> </i>
        Configuration du Fichier
        <button class="button button-positive">
          <i class="ion-eye"> </i>

        </button>
      </div>

      <div class="item item-button-right item-icon-left" ng-click="chargerConfigDonneBatch()">
        <i class="icon ion-icon ion-ios-compose-outline larger"> </i>
        Configuration des Données
        <button class="button button-positive" >
          <i class="ion-eye"> </i>

        </button>
      </div>


      <div class="item item-button-right item-icon-left" ng-click="chargerReportBatchBatch()">
        <i class="icon ion-icon ion-clipboard larger"> </i>
        Rapport du batch
        <button class="button button-positive">
          <i class="ion-eye"> </i>
        </button>
      </div>



    </div>


  </ion-content>
</ion-view>
