<ion-view title="Nouveau Compte" align-title="center">
  <ion-content padding="true" class="has-header">
    <form>
      <ion-list class="profile-image">

        <div class="row row-center">
          <div class="col col-center" style=" border: solid 0px;text-align: center">
            <b style="font-weight: 700;font-size: 30px;"> Admin ITN </b>
          </div>
        </div>

        <div class="row row-center">
          <div class="col col-center" style=" border: solid 0px;text-align: center">
            <h4>Nouveau compte</h4>
          </div>
        </div>
        <div class="spacer" style="width: 268px; height: 20px;"></div>
        <label class="item item-input">
          <span class="input-label icon ion-android-person">  Nom  </span>
          <input type="text" placeholder="Entrer votre nom ..." ng-model="data.firstName">
        </label>
        <div class="spacer" style="width: 268px; height: 20px;"></div>

        <label class="item item-input">
          <span class="input-label icon ion-android-person">  Prénom  </span>
          <input type="text" placeholder="Entrer votre prénom ..." ng-model="data.lastName">
        </label>
        <div class="spacer" style="width: 268px; height: 20px;"></div>

        <label class="item item-input">
          <span class="input-label icon ion-ios-email">  Email</span>
          <input type="email" placeholder="you@domain.com" ng-model="data.email">
        </label>
        <div class="spacer" style="width: 268px; height: 20px;"></div>
        <label class="item item-input">
          <span class="input-label icon ion-locked">  Password</span>
          <input type="password" placeholder="Mot de passe" ng-model="data.password">
        </label>
        <div class="spacer" style="width: 268px; height: 20px;"></div>

        <label class="item item-input">
          <span class="input-label icon ion-compose"> Confirmer Password</span>
          <input type="password" placeholder="Confirmer votre Mot de passe" ng-model="data.password1">
        </label>
        <div class="spacer" style="width: 268px; height: 20px;"></div>

      </ion-list>
      <button class="button button-block button-calm" ng-click="inscription()">Inscription</button>
    </form>
  </ion-content>
</ion-view>
